<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사원 목록</title>
    <style>
        input {
            border: none;
        }
    </style>
</head>
<body>
<div class="main">
    <form id="actionForm" method="POST" >
        <div class="search-container">
            <!-- 간단 검색 -->
            <fieldset>
                <legend onclick="toggleSearch()"> 간단 검색 ▼ </legend>
                <div id="search" name ="search" style="display:none;">
                    <input type="text" id="simpleSearch" name ="simpleSearch" placeholder="검색어를 입력하세요"
                           th:value="${simpleSearch != null ? simpleSearch : ''}">
                    <select id="searchOption" name="searchOption">
                        <option value="memberDepartment" th:selected="${searchOption == 'memberDepartment'}">부서별</option>
                        <option value="memberId" th:selected="${searchOption == 'memberId'}">ID</option>
                        <option value="memberNum" th:selected="${searchOption == 'memberNum'}">사번</option>
                        <option value="memberName" th:selected="${searchOption == 'memberName'}">이름</option>
                        <option value="memberRank" th:selected="${searchOption == 'memberRank'}">직급</option>
                    </select>
                    <button type="button" onclick="submitAction('search')">검색</button>
                    <button type="button" onclick="allMemberList()"> 전체보기</button>
                </div>
            </fieldset>

            <fieldset>
                <legend onclick="toggleAdvancedSearch()"> 상세 검색 ▼ </legend>
                <div id="adSearch" name ="adSearch" style="display:none;">
                    <!-- 생년월일 -->
                    <div>
                        <label for="birthStart">생년월일</label>
                        <input type="date" id="birthStart" name="birthStart"
                               th:value="${birthStart != null ? birthStart : ''}" required>
                        <span> ~ </span>
                        <input type="date" id="birthEnd" name="birthEnd"
                               th:value="${birthEnd != null ? birthEnd : ''}" required>
                        <button type="button" onclick="resetBirthDates()"> 생년월일 초기화</button>
                    </div>

                    <!-- 입사일 -->
                    <div>
                        <label for="hireStart">입사일</label>
                        <input type="date" id="hireStart" name="hireStart"
                               th:value="${hireStart != null ? hireStart : ''}" required>
                        <span> ~ </span>
                        <input type="date" id="hireEnd" name="hireEnd"
                               th:value="${hireEnd != null ? hireEnd : ''}" required>
                        <button type="button" onclick="resetHireDates()"> 입사일 초기화</button>
                    </div>

                    <button type="button" onclick="submitAction('adSearch')">상세 검색</button>
                    <button type="button" onclick="allMemberList()"> 전체보기</button>
                </div>
            </fieldset>
            <fieldset style="display: flex; gap: 20px;">
                <legend>필터</legend>
                <button type="button" onclick="allMemberList()"> 전체보기</button>
                <!-- 부서별 체크 박스 -->
                <div style="display: inline-block; margin-right: 10px;">
                    <label>부서</label><br>
                    <!-- Thymeleaf를 사용하여 부서 목록을 체크박스로 출력 -->
                    <div style="display: inline-block; margin-right: 10px;">
                        <input type="checkbox" id="departmentsAll"
                               name="departmentsAll" checked="checked" value="모든부서" onclick="toggleAllDepartments(); filterMembers()">
                        <label for="departmentsAll">모든 부서</label>
                    </div>
                    <div th:each="department : ${departments}"  style="display: inline-block; margin-right: 10px;">
                        <input type="checkbox" th:id="'department_' + ${department}"
                               th:name="'department'" th:value="${department}" checked="checked"
                               onclick="updateDepartmentsAllState(); filterMembers()">
                        <label th:for="'department_' + ${department}" th:text="${department}"></label>
                    </div>
                </div>

                <!-- 직급별 체크 박스 -->
                <div>
                    <label>직급</label><br>
                    <!-- 모든 직급을 선택/해제하는 체크박스 -->
                    <div style="display: inline-block; margin-right: 10px;">
                        <input type="checkbox" id="ranksAll" name="ranksAll" checked="checked" value="모든직급" onclick="toggleAllRanks(); filterMembers()">
                        <label for="ranksAll">모든 직급</label>
                    </div>
                    <div th:each="rank : ${ranks}"  style="display: inline-block; margin-right: 10px;">
                        <input type="checkbox" th:id="'rank_' + ${rank}"
                               th:name="'rank'" th:value="${rank}" checked="checked"
                               onclick="updateRanksAllState(); filterMembers()">
                        <label th:for="'rank_' + ${rank}" th:text="${rank}"></label>
                    </div>
                </div>

                <!-- 생년월일 월별 검색 -->
                <div>
                    <lable for="birthMonth"> 생일 월별 검색</lable><br>
                    <select id="birthMonth" name="birthMonth" onchange="filterBirthMonth()">
                        <option value="전체보기">전체보기</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select> 월
                </div>

                <!-- 입사일 월별 검색 -->
                <div>
                    <lable for="hireMonth"> 입사일 월별 검색</lable><br>
                    <select id="hireMonth" name="hireMonth" onchange="filterHireMonth()">
                        <option value="전체보기">전체보기</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select> 월
                </div>
            </fieldset>
        </div>
        <fieldset>
            <legend onclick="toggleAttentionMember()"> [참가자 명단] </legend>
            <table id="attentionMember" name="attentionMember">
                <tbody>
                <!-- attentionMember 리스트를 반복 -->
                <tr th:each="i, iterStat : ${attentionMember}">
                    <td th:text="${i.memberName} + '(' + ${i.memberDepartment} + '/' + ${i.memberRank} + ')'"></td>
                    <td th:text="${i.memberPhone}"></td>
                    <td th:text="${i.memberEmail}"></td>
                    <td>
                        <button type="button" th:data-member-id="${i.memberId}" onclick="cancelMember(this)">취소</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </fieldset>

        <div class="table-container">
            <table id="memberTable" name="memberTable" style="text-align:center;">
                <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll" onclick="toggleSelectAll()"> </th>
                    <th onclick="sortTable(1)">사번</th>
                    <th>증명사진</th>
                    <th onclick="sortTable(3)">이름</th>
                    <th onclick="sortTable(4)">부서</th>
                    <th onclick="sortTable(5)">직급</th>
                    <th onclick="sortTable(6)">생년월일</th>
                    <th onclick="sortTable(7)">입사일</th>
                    <th onclick="sortTable(8)">휴대폰 번호</th>
                    <th onclick="sortTable(9)">이메일</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody id="memberTableBody">
                <tr th:each="member : ${listMember}">
                    <td><input type="checkbox" name="selectedMembers" th:value="${member.memberId}" onchange="checkAllSelected()"></td>

                    <!-- 사번 -->
                    <td>
                        <input id="memberNum" name="memberNum" th:value="${member.memberNum}" readonly>
                    </td>

                    <!-- 증명사진 -->
                    <td>
                        <img id="memberImgName"
                             th:src="${member.memberImgName != null ? member.memberImgName : '/images/noidp.png'}"
                             alt="증명사진" style="width: 60px; height: 60px;">
                    </td>

                    <!-- 이름 -->
                    <td>
                        <input id="memberName" name="memberName" th:value="${member.memberName}" readonly>
                    </td>

                    <!-- 부서 -->
                    <td>
                        <input id="memberDepartment" name="memberDepartment" th:value="${member.memberDepartment}" readonly>
                    </td>

                    <!-- 직급 -->
                    <td>
                        <input id="memberRank" name="memberRank" th:value="${member.memberRank}" readonly>
                    </td>

                    <!-- 생년월일 -->
                    <td>
                        <input id="memberBirth" name="memberBirth" th:value="${member.memberBirth}" readonly>
                    </td>

                    <!-- 입사일 -->
                    <td>
                        <input id="memberStartDate" name="memberStartDate" th:value="${member.memberStartDate}" readonly>
                    </td>

                    <!-- 휴대폰 번호 -->
                    <td>
                        <input id="memberPhone" name="memberPhone" th:value="${member.memberPhone}" readonly>
                    </td>

                    <!-- 이메일 -->
                    <td>
                        <input id="memberEmail" name="memberEmail" th:value="${member.memberEmail}" readonly>
                    </td>

                    <!-- 상태 -->
                    <td>
                        <input id="memberStatus" name="memberStatus" th:value="${member.memberStatus}" readonly>
                    </td> <!-- 추가된 상태 열 -->

                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <button type="button" onclick="submitAction('apply')"> 신청하기 </button>
    <button type="button" onclick="window.location.href='/admin/home'"> home </button>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let sesLoginId = [[${sesLoginId}]];  // Thymeleaf 값으로 JavaScript 변수 설정
    let seasonId = [[${seasonId}]];
    /*]]>*/
</script>
<script src="/js/event/adminApplyForm.js"></script>
<!-- 오류나면 type="module" 쓰기-->


</body>
</html>