<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosmo.nexus.mapper.CompanyMapper">
    <resultMap id="CompanyResultMap" type="Company">
        <result property="companyId" column="company_id"/>
        <result property="companyNum" column="company_num"/>
        <result property="companyName" column="company_name"/>
        <result property="companyEmail" column="company_email"/>
        <result property="companyPhone" column="company_phone"/>
        <result property="companyPostcode" column="company_postcode"/>
        <result property="companyAddress" column="company_address"/>
        <result property="companyDAddress" column="company_d_address"/>
        <result property="companyLogoUrl" column="company_logo"/>
        <result property="companyStartDate" column="company_start_date"/>
    </resultMap>

    <select id="findCompanyList" resultMap="CompanyResultMap">
        SELECT
        company_id,             -- 회사 pk
        company_num,            -- 사업자 등록번호
        company_name,           -- 회사 명
        company_email,          -- 회사 이메일
        company_phone,          -- 회사 전화번호
        company_postcode,       -- 우편번호
        company_address,        -- 회사 대표주소
        company_d_address,      -- 회사 상세주소
        company_logo,           -- 회사 로고 이미지 경로 (URL)
        company_start_date      -- 회사 가입일
        FROM c_company
        ORDER BY company_id ASC
    </select>
</mapper>