<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosmo.nexus.mapper.FileMapper">

    <!-- 파일 삽입 -->
    <insert id="insertFile" parameterType="File">
        INSERT INTO c_file (file_path, board_id, file_size, file_date, file_origin_name)
        VALUES (#{filePath}, #{boardId}, #{fileSize}, NOW(), #{fileOriginName})
    </insert>

    <!-- 특정 게시판 ID로 파일 조회 -->
    <select id="selectFileByBoardId" resultType="File">
        SELECT file_id AS fileId,
        file_path AS filePath,
        board_id AS boardId,
        file_size AS fileSize,
        file_date AS fileDate,
        file_origin_name AS fileOriginName
        FROM c_file
        WHERE board_id = #{boardId}
    </select>

    <!-- 특정 게시판 ID로 파일 삭제 -->
    <delete id="deleteFilesByBoardId" parameterType="int">
        DELETE FROM c_file WHERE board_id = #{boardId}
    </delete>

    <!-- 특정 게시판 ID로 모든 파일 조회 -->
    <select id="selectFilesByBoardId" resultType="File">
        SELECT file_id AS fileId,
        file_path AS filePath,
        board_id AS boardId,
        file_size AS fileSize,
        file_date AS fileDate,
        file_origin_name AS fileOriginName
        FROM c_file
        WHERE board_id = #{boardId}
    </select>

    <!-- 특정 시즌 ID로 파일 조회 -->
    <select id="selectFilesBySeasonId" resultType="File">
        SELECT file_id AS fileId,
        file_path AS filePath,
        board_id AS boardId,
        file_size AS fileSize,
        file_date AS fileDate,
        file_origin_name AS fileOriginName
        FROM c_file
        WHERE board_id IN (
        SELECT board_id
        FROM c_season
        WHERE season_id = #{seasonId}
        )
    </select>

    <!-- 특정 시즌 ID로 파일 삭제 -->
    <delete id="deleteFilesBySeasonId" parameterType="int">
        DELETE FROM c_file
        WHERE board_id IN (
        SELECT board_id
        FROM c_season
        WHERE season_id = #{seasonId}
        )
    </delete>

</mapper>
