<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosmo.nexus.mapper.FindAccountMapper">

    <resultMap id="FindAccountResultMap" type="FindAccount">
        <result property="companyNum" column="company_num"/>
        <result property="companyId" column="company_id"/>
        <result property="memberNum" column="member_num"/>
        <result property="memberName" column="member_name"/>
        <result property="memberPhone" column="member_phone"/>
        <result property="memberEmail" column="member_email"/>
        <result property="memberId" column="member_id"/>
        <result property="memberPw" column="member_pw"/>
    </resultMap>

    <!-- 개인 회원 찾기 (이름 + 이메일) -->
    <select id="findPersonalAccountByEmail" resultMap="FindAccountResultMap">
        SELECT
        member_id, member_name, member_email,
        member_phone, member_num
        FROM c_member
        WHERE TRIM(LOWER(member_name)) = TRIM(LOWER(#{memberName}))
        AND TRIM(LOWER(member_email)) = TRIM(LOWER(#{memberEmail}));
    </select>

    <!-- 개인 회원 찾기 (이름 + 휴대전화번호) -->
    <select id="findPersonalAccountByPhone" resultMap="FindAccountResultMap">
        SELECT
        member_id, member_name, member_email, member_phone, member_num
        FROM c_member
        WHERE TRIM(LOWER(member_name)) = TRIM(LOWER(#{memberName}))
        AND member_phone = #{memberPhone}
    </select>

    <!-- 기업 회원 찾기 (사업자등록번호 + 사원번호) -->
    <select id="findBusinessAccountByCompanyNum" resultMap="FindAccountResultMap">
        SELECT
        m.member_id, m.member_name, m.member_email, m.member_phone,
        m.member_num, c.company_num
        FROM c_member m
        LEFT JOIN c_company c ON m.company_id = c.company_id
        WHERE c.company_num = #{companyNum}
        AND m.member_num = #{memberNum}
    </select>

    <!-- 기업 회원 찾기 (이름 + 이메일) -->
    <select id="findBusinessAccountByEmail" resultMap="FindAccountResultMap">
        SELECT
        member_id, member_name, member_email, member_phone, member_num
        FROM c_member
        WHERE TRIM(LOWER(member_name)) = TRIM(LOWER(#{memberName}))
        AND TRIM(LOWER(member_email)) = TRIM(LOWER(#{memberEmail}));
    </select>

    <!-- 기업 회원 찾기 (이름 + 휴대전화번호) -->
    <select id="findBusinessAccountByPhone" resultMap="FindAccountResultMap">
        SELECT
        member_id, member_name, member_email, member_phone, member_num
        FROM c_member
        WHERE TRIM(LOWER(member_name)) = TRIM(LOWER(#{memberName}))
        AND member_phone = #{memberPhone}
    </select>



</mapper>