<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
</head>
<body>
<h1>비밀번호 찾기</h1>

<div>
    <h2>비밀번호를 찾고자 하는 계정을 선택하고 정보를 입력하세요.</h2>

    <!-- 개인 회원 비밀번호 찾기 -->
    <form id="findPersonalPasswordForm" method="post" action="/processFindPPW">
        <h3>개인 회원</h3>
        <label for="personalMemberId">아이디:</label>
        <input type="text" id="personalMemberId" name="memberId" required>
        <br>
        <label for="personalEmail">이메일:</label>
        <input type="email" id="personalEmail" name="email" required>
        <br>
        <button type="submit">비밀번호 찾기</button>
    </form>

    <hr>

    <!-- 기업 회원 비밀번호 찾기 -->
    <form id="findBusinessPasswordForm" method="post" action="/processFindBPW">
        <h3>기업 회원</h3>
        <label for="businessMemberId">아이디:</label>
        <input type="text" id="businessMemberId" name="memberId" required>
        <br>
        <label for="businessEmail">이메일:</label>
        <input type="email" id="businessEmail" name="email" required>
        <br>
        <label for="businessCompanyNum">사업자등록번호:</label>
        <input type="text" id="businessCompanyNum" name="companyNum" required>
        <br>
        <button type="submit">비밀번호 찾기</button>
    </form>
</div>
</body>
</html>