<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>아이디 찾기</title>
</head>
<link rel="stylesheet" href="/css/findaccount/findAccount.css">
<body>

<form id="findAccountForm" method="post" th:action="@{/processAccount}">
  <h2>아이디 찾기</h2>
  <!-- 개인회원 구역 -->
  <div class="radio-group">
      <div class="section-title">개인회원</div>
      <label>
        <input type="radio" name="findMethod" value="email" onclick="showForm('email')" required>
        이름 + 이메일로 찾기
      </label>
      <label>
        <input type="radio" name="findMethod" value="phone" onclick="showForm('phone')" required>
        이름 + 휴대전화번호로 찾기
      </label>
    </div>

    <div id="emailForm" class="hidden-form">
      <div class="form-group">
        <label for="memberNameEmail">이름:</label>
        <input type="text" id="memberNameEmail" name="memberNameEmail" placeholder="ex: 홍길동">
      </div>
      <div class="form-group">
        <label for="memberEmail">이메일:</label>
        <input type="text" id="memberEmail" name="memberEmail" placeholder="ex: example@domain.com">
      </div>
    </div>

    <div id="phoneForm" class="hidden-form">
      <div class="form-group">
        <label for="memberNamePhone">이름:</label>
        <input type="text" id="memberNamePhone" name="memberNamePhone" placeholder="ex: 홍길동">
      </div>
      <div class="form-group">
        <label for="memberPhone">휴대전화번호:</label>
        <input type="text" id="memberPhone" name="memberPhone" placeholder="ex: 010-1234-5678" oninput="formatPhone(this)">
      </div>
    </div>

    <!-- 기업회원 구역 -->
    <div class="radio-group">
      <div class="section-title">기업회원</div>
      <label>
        <input type="radio" name="findMethod" value="company" onclick="showForm('company')" required>
        사업자등록번호 + 사원번호로 찾기
      </label>
      <div id="companyForm" class="hidden-form">
        <div class="form-group">
          <label for="companyNum">사업자 등록번호:</label>
          <input type="text" id="companyNum" name="companyNum" placeholder="ex: 123-45-67890" oninput="formatBusinessNumber(this)">
        </div>
        <div class="form-group">
          <label for="memberNum">사원번호:</label>
          <input type="text" id="memberNum" name="memberNum" placeholder="ex: 1001">
        </div>
      </div>
    </div>
  <button type="submit" style="margin-top: 20px;">다음</button>
</form>

<!-- 외부 스크립트 파일 로드 -->
<script src="/js/account/findAccount.js"></script>
</body>
</html>
