<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 재설정</title>
  <link rel="stylesheet" href="/css/findaccount/passwordReset.css">
</head>
<body>
<div class="container">
<h2>비밀번호 재설정</h2>

<form id="passwordResetForm" method="post" th:action="@{/processNewPassword}">

  <input type="hidden" id="memberId" name="memberId" th:value="${memberId}" />
  <p>새로운 비밀번호를 입력하세요.</p>
  <div class="form-group">
    <label for="newPassword">새 비밀번호:</label>
    <input type="password" id="newPassword" name="newPassword" placeholder="새 비밀번호">
    <div id="passwordError" class="error-message">비밀번호는 최소 8자 이상이어야 하며, 영문 소문자, 숫자, 특수문자(!@#$%^&*)를 포함해야 합니다.</div>
    <div id="passwordValid" class="valid-message">사용 가능한 비밀번호입니다.</div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">비밀번호 확인:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="비밀번호 확인">
    <div id="confirmError" class="error-message">비밀번호가 일치하지 않습니다.</div>
  </div>

    <button type="submit" style="margin-top: 10px;">확인</button>
  </form>
</div>
<!-- 외부 스크립트 파일 로드 -->
<script src="/js/account/passwordReset.js"></script>

</body>
</html>
