<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 재설정</title>
</head>
<body>
<h2>비밀번호 재설정</h2>

<form id="passwordResetForm" method="post" th:action="@{/processNewPassword}">
  <input type="hidden" id="memberId" name="memberId" th:value="${memberId}" />
  <p>새로운 비밀번호를 입력하세요.</p>

  <label for="newPassword">새 비밀번호:</label>
  <input type="password" id="newPassword" name="newPassword" placeholder="새 비밀번호">
  <br>
  <label for="confirmPassword">비밀번호 확인:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" placeholder="비밀번호 확인">
  <br>

  <button type="submit" style="margin-top: 10px;">비밀번호 재설정</button>
</form>

<script>
  // 클라이언트 측 비밀번호 확인 검증
  document.getElementById('passwordResetForm').addEventListener('submit', function (event) {
      const newPassword = document.getElementById('newPassword').value;
      const confirmPassword = document.getElementById('confirmPassword').value;

      // 비밀번호 확인 실패 시 알림
      if (newPassword !== confirmPassword) {
          event.preventDefault();
          alert('비밀번호가 일치하지 않습니다. 다시 입력해주세요.');
          return;
      }

  });
</script>

</body>
</html>
