<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 레이아웃</title>
  <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body class="layout-sidebar">
<div class="sidebar">
  <ul>
    <li><a href="user/home">Home</a></li>
    <li><a href="user/memberList">사원 관리</a></li>
    <li><a href="user/board/eventList">이벤트 관리</a></li>
    <li><a href="user/board/notificationList">공지사항 목록</a></li>
    <li><a href="user/board/qnaList">Q&A</a></li>
  </ul>
</div>

<div class="content">
  <!-- 여기서 개별 페이지의 내용이 렌더링됩니다 -->
  <!-- <div th:replace="~{notice/adminNotificationList :: content}"></div> -->
</div>
</body>
</html>
